In [1]:
from pycaret.datasets import get_data
from pycaret.regression import *

import pandas as pd
import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib as mpl


mpl.rcParams["figure.dpi"] = 300
mpl.rcParams["xtick.labelsize"] = 6
mpl.rcParams["ytick.labelsize"] = 6
mpl.rcParams["axes.labelsize"] = 6
mpl.rcParams["legend.fontsize"] = 6
mpl.rcParams["legend.title_fontsize"] = 6
# mpl.rcParams["legend.shadow"] = True


# for key, value in mpl.rcParams.items():
#     print(key, "=", value)

> Nota:
> Se trabajó sobre la versión 2.3.4, ya que fue la usada por el autor del libro estudio. También para evitar conflictos con librerías y versiones de Python (2023-09-04 actualmente numba no funciona en python 3.11 o superior).

In [9]:
pycaret.__version__

'2.3.4'

> Data

This is a health insurance dataset, where the features are various attributes including age, sex, Body Mass Index (BMI), whether the person is a smoker or not, number of children and US region. Furthermore, the dataset target variable is the billed charges for every individual

In [3]:
data = get_data("insurance")
# data.select_dtypes(include=["number"]).hist(bins=30, figsize=(6, 4))
# plt.show()

numeric = ["age", "bmi", "children", "charges"]
# data[numeric].hist(bins=20, figsize = (12,8))
# plt.show()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
categorical = ["smoker", "sex", "region"]
color = ["C0", "C1", "C2", "C3"]
# fig, axes = plt.subplots(2, 2, figsize=(12, 10))
# axes[1, 1].set_axis_off()
# for ax, col in zip(axes.flatten(), categorical):
#     data[col].value_counts().plot(kind="bar", ax=ax, color=color)
#     ax.set_xlabel(col)

> Regression A

Relationship between numeric and categorical variables by using hue mapping. In this case, we plot the target variable histogram, colored differently for every category of the smoker, sex and region variables. Evidently, smokers get significantly higher charges compared to non-smokers. This is expected, as the health risks associated with smoking are
numerous and well-documented.

In [4]:
# fig, axes = plt.subplots(2, 2, figsize=(9, 6))
# axes[1, 1].set_axis_off()
# for ax, col in zip(axes.flatten(), categorical):
#     sns.histplot(data, x="charges", hue=col, multiple="stack", ax=ax)

> Regression B

Scatter plots are a type of visualization that helps us understand the relationship between numeric variables. The pairplot() Seaborn function creates a grid of scatter plots for all pairs of numeric variables in a given dataset. The diagonal contains distribution plots of the variables, such as histograms or KDE plots in this case. Once again, we use hue mapping to highlight the differences between smokers and nonsmokers. As we can see, age is correlated with charges, i.e. people get higher charges as they grow older. In spite of that, being a non-smoker keeps the cost lower for most people, regardless of their age. Furthermore, overweight and obese people don’t seem
to get significantly higher charges, unless they are also smokers.

In [5]:
cols = ["age", "bmi", "charges", "smoker"]
# sns.pairplot(data[cols], hue='smoker')
# plt.show()

> Pycaret environment

In [6]:
reg = setup(
    data=data,
    target="charges",
    train_size=0.8,
    session_id=123,
    numeric_features=numeric[:-1],
    categorical_features=categorical,
    transformation=True,
    normalize=True,
    transform_target=True,
    # one_hot_encoding=True
)

In [43]:
# model = create_model('gbr', fold = 10)

In [7]:
get_config("X").head()

,age,bmi,children,sex_female,smoker_no,region_northeast,region_northwest,region_southeast,region_southwest
0,-1.444766,-0.417859,-1.034700,1.0,0.0,0.0,0.0,0.0,1.0
1,-1.518832,0.559584,0.247476,0.0,1.0,0.0,0.0,1.0,0.0
2,-0.783281,0.438305,1.424474,0.0,1.0,0.0,0.0,1.0,0.0
3,-0.420501,-1.375890,-1.034700,0.0,1.0,0.0,1.0,0.0,0.0
4,-0.492741,-0.245739,-1.034700,0.0,1.0,0.0,1.0,0.0,0.0

In [34]:
# get_config("X_train").head()
# get_config('X_transformed')
# get_config()

In [8]:
best = compare_models(sort="RMSE")